1. Un aeropuerto importante contrató recientemente al consultor Manuel López para estudiar el problema
de los retrasos en el tráfico aéreo. En la siguiente tabla se puede observar la cantidad de minutos que
los aviones llegaron tarde en una muestra de vuelos:

In [4]:
import pandas as pd

aero_data = pd.DataFrame(
    [
     ['0<10', 30],
     ['10<20', 25],
     ['20<30', 13],
     ['30<40', 6],
     ['40<50', 5],
     ['50<60', 4]
    ],
    columns=['min_retrasto','n_vuelos']
)
aero_data

  min_retrasto  n_vuelos
0         0<10        30
1        10<20        25
2        20<30        13
3        30<40         6
4        40<50         5
5        50<60         4

In [ ]:
# a. Estime el número medio de minutos de retraso
aero_data['n_vuelos'].mean()

13.833333333333334

In [ ]:
# b. Estime la varianza y la desviación estándar de la muestra.
aero_data['n_vuelos'].var()

124.56666666666665

In [ ]:
aero_data['n_vuelos'].std()

11.16094380716374

2. Considere las siguientes cuatro poblaciones:

* 1, 2, 3, 4, 5, 6, 7, 8
* 1, 1, 1, 1, 8, 8, 8, 8
* 1, 1, 4, 4, 5, 5, 8, 8
* −6, −3, 0, 3, 6, 9, 12, 15

Todas estas poblaciones tienen la misma media. Sin hacer los cálculos, organice las poblaciones de acuerdo conlas magnitudes de sus varianzas, de menor a mayor. Luego calcule cada una de las variaciones manualmente.

In [ ]:
# organice las poblaciones de acuerdo conlas magnitudes de sus varianzas, de menor a mayor.
# 1. −6, −3, 0, 3, 6, 9, 12, 15
# 2. 1, 1, 1, 1, 8, 8, 8, 8
# 3. 1, 2, 3, 4, 5, 6, 7, 8
# 4. 1, 1, 4, 4, 5, 5, 8, 8

3. Los tiempos en minutos que están 50 clientes en un supermercado local para realizar la compra son los
siguientes:

In [5]:
tiempos = pd.Series([26.88, 28.60, 20.73, 34.00, 35.87, 25.99, 20.94, 26.45, 29.54, 26.27,
 26.51, 29.70, 29.55, 33.52, 30.49, 31.49, 21.28, 23.57, 22.47, 23.15,
 19.51, 23.85, 30.98, 9.81, 26.59, 29.68, 30.48, 25.38, 23.49, 25.11,
 19.35, 33.80, 23.14, 13.56, 24.63, 24.26, 37.18, 22.20, 21.37, 28.30,
 11.02, 25.59, 24.38, 25.29, 29.17, 25.55, 26.94, 27.24, 19.10, 27.44]
)
tiempos

0     26.88
1     28.60
2     20.73
3     34.00
4     35.87
5     25.99
6     20.94
7     26.45
8     29.54
9     26.27
10    26.51
11    29.70
12    29.55
13    33.52
14    30.49
15    31.49
16    21.28
17    23.57
18    22.47
19    23.15
20    19.51
21    23.85
22    30.98
23     9.81
24    26.59
25    29.68
26    30.48
27    25.38
28    23.49
29    25.11
30    19.35
31    33.80
32    23.14
33    13.56
34    24.63
35    24.26
36    37.18
37    22.20
38    21.37
39    28.30
40    11.02
41    25.59
42    24.38
43    25.29
44    29.17
45    25.55
46    26.94
47    27.24
48    19.10
49    27.44
dtype: float64

In [6]:
tiempos.mean()

25.627799999999997

In [7]:
tiempos.var()

30.90994812244897

In [8]:
tiempos.std()

5.559671584046037

In [12]:
tiempos.quantile(.9)

31.693

In [ ]:
3. Los tiempos en minutos que están 50 clientes en un supermercado local para realizar la compra son los
siguientes: